h1 { font-size: 2em; }
h2 { font-size: 1.2em; }
body { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 100%; 
	background-image: url(../images/room.jpg);
	background-repeat: no-repeat;
	background-size: 650px 421px;
}

/* Squares */
.dancer { width: 100px; height: 180px; top: 225px; left: 100px; 
	padding: 0.5em; position: absolute; text-align: center; 
	background-image: url(../images/dancer2.gif);
	background-repeat: none-repeat;
}

.dancer img {
	margin-top: 10px;
	border-radius:25px;
}

#dancefloor
{
	height: 300px;
	width: 100%;
}

#glitterball
{
	position: absolute;
	top: 20px;
	left: 365px;
}